<!DOCTYPE html>
<html>
<head>
    <title>Admin-users</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="js/listings.js"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="css/custom.css">
<body>
    <div class="admin_row">
        <div class="col-md-3">
            <% include sidebar.ejs %>
        </div>
        <div class="col-md-9">
            <% include navbar.ejs %>
            <div class="content_blk">
                <table id="listings-table" class="table table-responsive">
                    <thead>
                        <th>Pictures</th>
                        <th>Name</th>
                        <th>Location</th>
                        <th>Price</th>
                        <th>Map</th>
                        <th>Owner</th>
                        <th>Guests</th>
                        <th>Type</th>
                        <th>About</th>
                        <th>Amentities</th>
                    </thead>
                    <tbody>

                        <% for(var i = 0; i < listing.length; i++) { 
                            var images =  JSON.stringify(listing[i]) %>
                            <tr>
                                <td><img id="img_tag" onclick="showImages('<%= images %>')" src="<%= listing[i].images[0].url %>" width="70px"></td>
                                <td><%= listing[i].name %></td>
                                <td><%= listing[i].location %></td>
                                <td>&#8377; <%= listing[i].price %></td>
                                <td>
                                    <span>Lat: <span style="color: green;"><%= listing[i].map_coordinates.lat %></span></span><br>
                                    <span>Lng: <span style="color: green;"><%= listing[i].map_coordinates.lng %></span></span>
                                </td>
                                <td><%= listing[i].owner.firstname %> <%= listing[i].owner.lastname %></td>
                                <td><%= listing[i].guests %></td>
                                <td><%= listing[i].host_type %> </td>
                                <td><%= listing[i].about %></td>
                                <% if (listing[i].approved === 0) { %>
                                    <td><button onclick="approveListing('<%= listing[i]._id %>')" class="btn btn-success btn-xs">Approve</button></td>
                                <% } %>
                                <% if (listing[i].approved === 1) { %>
                                    <td><button onclick="unapproveListing('<%= listing[i]._id %>')" class="btn btn-warning btn-xs">Unapprove</button></td>
                                <% } %>

                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Images Modal -->
    <div id="images_modal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Host Images</h4>
          </div>
          <div class="modal-body text-center" id="modal_images_body">
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
    <!-- Images Modal end -->
</body>
</html>