<!DOCTYPE html>
<html>
<head>
    <title>Admin-users</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="js/users.js"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="css/custom.css">
<body>
    <div class="admin_row">
        <div class="col-md-3">
            <% include sidebar.ejs %>
        </div>
        <div class="col-md-9">
            <% include navbar.ejs %>
            <div class="content_blk">
                <table id="user-table" class="table table-hover">
                    <thead>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Email</th>
                        <th>Password</th>
                        <th>Profile image</th>
                        <th>Login type</th>
                        <th>Actions</th>
                    </thead>
                    <tbody>
                        <% for(var i = 0; i < user.length; i++) { %>
                        <tr>
                            <td><%= user[i].firstname %></td>
                            <td><%= user[i].lastname %></td>
                            <td><%= user[i].email %></td>
                            <td><%= user[i].password %></td>
                            <td><% if(user[i].profile_pic === null) { %>
                                <span>No image</span>
                                <% } else { %>
                                    <img src="<%= user[i].profile_pic %>" width="70px">
                                <% } %>
                            </td>
                            <td><%= user[i].login_type %></td>
                            <td><button class="btn btn-danger btn-xs">Block</button></td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>